.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  height: 100%;
}
body {
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 225, 216);
}
.inputContainer {
  background-color: aliceblue;
  box-sizing: content-box;
  flex: 1;
  padding: 4em;
  border: 1px solid rgb(38, 185, 226);
  border-radius: 20px;
}

input[type="text"],
select {
  width: 100%;
  margin: 10px 0;
  padding: 30px 0 5px 5px;
  border-radius: 10px;
}

input[type="text"] {
  padding: 30px 0 20px 5px;
}

input[type="text"] {
  min-width: 350px;
}

input[type="text"]:focus:valid {
  border: 2px solid rgb(38, 185, 226);
  outline: none;
}

input:valid {
  border: 2px solid rgb(182, 209, 216);
}

/* Card */

.card-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: seashell;
}

/* Exit-Game-Window */

.exit-game-window {
  text-align: center;
  background-color: rgb(212, 226, 233);
  width: 600px;
  height: 150px;
  padding: 3em;
  border-radius: 15px;
}
